    <h1>Welcome This is the page of Alpha-Blog</h1>
    <p>User here.</p>

    <span>Name: </span> <%= @user.name %> <br>
    <span>Username: </span> <%= @user.username %> <br>
    <span>Email: </span> <%= @user.email %> <br>
    <% if @user.address %>
    <span>Address: </span> <%= "#{@user.address.street}, #{@user.address.city}, #{@user.address.country}" %> <br>

    <%= link_to 'update address', edit_addresses_path(:id => @user.id) %>
    <br>
    <%= link_to 'Delete address', delete_addresses_path(:id => @user.address.id) %>
    <% else %>
    <%= link_to 'Create address', new_address_path(:id => @user.id) %>
    <% end %>
    <br>
    <%= link_to 'Delete this user', delete_user_path(:id => @user.id) %>
    &nbsp &nbsp

    <%= link_to 'Back to list', user_path, remote: true%>
    <br>
    <br>
    <%= link_to 'See all Posts of this User', posts_index_path(:id => @user.id)  %> &nbsp &nbsp
    <%= link_to 'See all events for this user', event_show_path(:u_id => @user.id) %>
