<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" >

      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to 'Users list', user_path, remote: true %>
        </li>
        <li>
          <%= link_to "Events list", event_index_path %>
        </li>
        <li>
          <%= link_to 'Create User', new_user_path, remote: true %>
        </li>
      </ul>

    </div>
    <p>To go to the about page click here</p>
    <%= link_to 'About', about_path %>


    <br>
    <%= yield %>

    <div class="aj" style="background : #d9d9d9">

    </div>

  </body>
</html>
