<h1>Addresses#edit</h1>
<%= form_for @address,url: {action: "update" }  do |f| %>
  <p>Street:</p>
  <%= f.text_field :street %>
  <p>City:</p>
  <%= f.text_field :city %>
  <p>Country:</p>
  <%= f.text_field :country %>

  <%= hidden_field_tag :user_id , @user.id %>
  <br>
  <%= f.submit "Update" %>
<% end %>
