<h1>Addresses#new</h1>
<%= form_for @address,url: {action: "create" }  do |f| %>
  <p>Street:</p>
  <%= f.text_field :street %>
  <p>City:</p>
  <%= f.text_field :city %>
  <p>Country:</p>
  <%= f.text_field :country %>
  <%= f.hidden_field :user_id ,:value => @user.id %>
  <br>
  <%= f.submit "Create" %>
<% end %>
