<h1>Book#index</h1>
<%= link_to 'Create Book', book_new_path() %>
<br>
<%= link_to 'View all books', root_path %>
<%= will_paginate @books %>
<% if @books.any? %>
  <% @books.each do |book| %>
    Name: <%= book.name %> &nbsp &nbsp <%= link_to 'View', book_view_path(:id => book.id) %> <br>
  <% end %>
  <% else %>
  Nothing here now.
<% end %>
